<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet> -->


<!-- Slide Menu -->
<aside class="side-menu_container" [ngClass]="{'side-menu_container-active':showMenu}" (click)="toggleMenu()">
<nav class="slide-menu" [ngClass]="{'slide-menu-active':showMenu}" (click)="$event.stopImmediatePropagation();">
  <section class="menu-header">
    <span class="greeting__text">Welcome Back</span>
    <div class="profile-image__container">    
      <img src="https://avatars3.githubusercontent.com/u/5658460?s=460&v=4" alt="profile-image"
        class="profile__image"> 
    </div>
    <div class="account-details">
        <span class="name__text">Hamed Baatour</span>
        <span class="email__text">hamedabatu@gmail.com</span>
    </div>
  </section>
  <section class="menu-body">

  </section>
  <section class="menu-footer">

  </section>
</nav>


</aside>  

<div class="root__container">
    <header [ngClass]="{'main__header-dark':darkModeActive}" class="main__header">
        <div class="left__section">
            <svg (click)="toggleMenu()" class="hamburger__icon" id="Menu_Burger_Icon">
                <!-- hamburger icon svg code goes here-->  
            </svg>
            <svg class="logo__icon">
                <!-- logo svg code goes here-->
            </svg>
        </div>
        <h3 class="date__text">Today</h3>
    </header>

</div>